{{ 'img/developers.jpeg' | asset_url | img_tag }}

{{ api | sexy_app_script: nonce }}

<br>
<style type="text/css" nonce="{{nonce}}">
	* {
		text-align: center;
	}
</style>
<a href="/api/docs" nonce="{{nonce}}">Go to docs</a>
<p>
	Loading Api ...
</p>
<script type="text/javascript" nonce="{{ nonce }}">
	AdvancedApplication.yo("Success!")
</script>
